/*** GENERAL ***/

html {
  scroll-behavior: smooth;
}

body {
  /* background: #F5F6FA; */
  background: #2F3437;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;

  position: relative;
}

p {
  margin: 0;
}

.content-course {
  height: calc( 100vh - 6rem );
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/*** HOME ***/

.icon-home {
  font-size: 64px;
}

.title-home {
  font-weight: bold;
}

.sidebar-content {
  background: #3F4447;
  border: #F9F9FA;
  border-radius: 0.25rem;
}

.sidebar-content__title {
  display: flex;
  margin-bottom: 16px;
}

.sidebar-content__icon {
  padding: 0 16px 0 0;
}

/* COURSES */

.a__course:hover {
  text-decoration: none;
}

.btn_course {
  color: #363636;
  border-radius: .25rem;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-weight: bold;
  transition: all 0.5s;
}

.btn_course--light {
  color: #f8f9fa;
  background: #3F4447;
  border-color: #3F4447;
}
.btn_course--light:hover {
  color: #f8f9fa;
  background: #707477;
  border-color: #474C50;
}

/*** --- COURSE --- ***/

/*** SIDEBAR ***/

/* BACK TO HOME */

.back-to-home {
  margin-bottom: 15px;
}

/* TITLE COURSE */

.icon-course-sidebar {
  font-size: 32px;
  margin-bottom: 10px;
}

.title-course-sidebar {
  font-size: 24px;
  margin-bottom: 15px;
}

/* CONTENT LIST */

.sidebar-content {
  background: #3F4447!important;
  border: #F9F9FA;
  border-radius: 0.25rem;
}

.sidebar-content__title {
  display: flex;
  margin-bottom: 16px;
}

.content__icon {
  padding: 0 16px 0 0;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.nav-link {
  display: block;
  padding: .40rem 1rem;
}

.content__title {
  display: flex;
  margin-bottom: 16px;
  font-size: 20px;
  color: #f8f9fa;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #f8f9fa;
  background-color: transparent;
  border-left: 5px solid #f8f9fa;
  font-weight: bold;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: #c4c4c4;
}

/* CONTENT COURSE */

.item-title {
  font-weight: bold;
  font-size: 32px;
}

.subitem-title {
  font-weight: bold;
  font-size: 24px;
}

.item-body {
  background: #3F4447;
  color: #f8f9fa;
  padding: 20px;
  border-radius: 0.25rem;
}

.space-titles {
  padding-bottom: 32px;
}

.space-subtitles {
  padding-bottom: 24px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {

  /* CONTENIDO CURSO */
  .title-course {
    font-size: 24px;
  }
}