body {
  /* background: #F5F6FA; */
  background: #fff;
  font-family: sans-serif;
  color: #363636;
}

.icon {
  font-size: 78px;
}

.description {
  background: #F9F9FA;
  border: #F9F9FA;
  border-radius: 0.25rem;
}

.description__title {
  display: flex;
  margin-bottom: 16px;
}

.description__icon {
  padding: 0 16px 0 0;
}

.btn_course {
  color: #363636;
  transition: all 0.5s;
  border-radius: .25rem;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  /* text-align: center; */
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.btn_course--light {
  color: #363636;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn_course--light:hover {
  color: #363636;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}